
.content-editor-wrapper{
    max-width: 600px;
    margin: 0 auto;
}
.content-editor{
    box-sizing: border-box;
    min-height: 400px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .5rem;
}